.card-container ul li {
  list-style-position: outside;
  margin-left: 1.825rem;
}

.card-container .body ul {
  margin-top: 1.25rem;
}

.card-container .body li {
  line-height: 1.375rem;
  margin-bottom: 0.8rem;
}
