<h4>Instances</h4>
<p>It is extremely important to make sure you are working on our: <a
        href="https://orasitestest-prodapp.cec.ocp.oraclecloud.com/documents/sites">OraSitesTest Instance</a></p>


<p>As you may inferred, this is our Staging OCM instance, where all changes can be previewed and then pushed to live.
</p>

<h4>Creating the component</h4>
<p>For the creation of any component, go the the "assets" left pannel button. This will display ALL the created assets
    used in the site.</p>
<img src="/images/components/Assets.png" alt="" class="blogIMG">

<p>After the page has loaded, go to the "create" button -> "Create a New Content Item" button: </p>
<img src="/images/components/Assets2.png" alt="" class="blogIMG">
<p>You may see the most recently used components, however if you don't the one you are looking for, go to the "Create a
    New Content Item" button.</p>