<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include('./partials/scripts.ejs'); %>
    <link rel='stylesheet' href='/stylesheets/mainSite.css' />
    
</head>

<%- include('./partials/mainMenu.ejs'); %>


  

</html>