<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include('./partials/scripts.ejs'); %>
    <link rel='stylesheet' href='/stylesheets/mainSite.css' />
    
</head>

<%- include('./partials/mainMenu.ejs'); %>


  <body>
    <div id="backgroundIMGB2" class="adjustPaddingBanner">
      <div class="container">
        <h5 class="Green30" id="h3-Banner1"><%= title %></h5>
        <h1 class="White" id="h1-Banner1">Available Structures</h1>
        <p class="White" id="text-Banner1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sit beatae
          magnam ut, culpa cupiditate non vitae voluptatum laudantium, obcaecati quo cum, perferendis aut odio in
          perspiciatis officiis! Minima, rerum.</p>
        <div class="spacer-3"></div>
        <a href="#componentPageIndex" class="BTN-1">See components</a>
      </div>
    </div>

    <div class="Black" id="componentPageIndex">
      <div class="container spacer-2-low alignCenter">
        <h5 class="Green30" id="h3-Banner1">Discover</h5>
        <h1 class="White" id="h1-Banner1">Our devo_<span class="gradient1">components</span></h1>
        <div class="spacer-3"></div>

        <div class="tripleColumnComplete">
          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">
                <defs>
                  <linearGradient id="mygradient" x1="80.86%" x2="19.14%" y1="0%" y2="100%">
                    <stop offset="0%" stop-color="#ffffff40" />
                    <stop offset="100%" stop-color="#877eff" />
                  </linearGradient>
                </defs>
                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_Alert</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong>Global component, bottom component, category
                component.</p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>

                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->

          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">


                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_Blog</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong>Blog component, for devo articles. Include
                abstract, author, etc.</p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->

          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">
                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_Code</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong>Code component, for code previews. Pyhton, JS and
                JAVA.</p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->

          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">
                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_Content</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong> Custom Card component, Custom Modal component.
              </p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->

          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">
                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_Feature</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong> Custom Banner, Custom Feature, Custom Hero
                Component.</p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->

          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">
                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_Link</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong>_self, _blank & trigger modal windows. Custom CTA
                and Link With Image.</p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->

          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">
                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_List</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong> List component. Use column Layout for
                functioning.</p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->

          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">
                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_Social-Ankle</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong> Social Ankle component. Includes up to 6 social
                networks.</p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->

          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">
                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_Testimonial</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong> Testimonial component. Includes all of its
                variations.</p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->

          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">
                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_Video</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong> Video component, Video-modal component.</p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->

          <!--SINGLE COMPONENT-->
          <div class="White White10 cardContainer">
            <div class="verticalCenter iconBackground">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-textarea" viewBox="0 0 16 16">
                <path
                  d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </div>

            <div class="alignLeft verticalCenter textCardContainer">
              <h4>DEVO_HTMLWidget</h4>

              <p id="text-GeneralCard"><strong>Contains: <br></strong> HTML code snippet, insert custom code (CSS & JS).
              </p>
              <div class="spacer-4"></div>
              <div>
                <a href="#" class="BTN-3">
                  See this component
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <!--END SINGLE COMPONENT-->
        </div>

      </div>
    </div>

  </body>

</html>