<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('./partials/scripts.ejs'); %>
        <link rel='stylesheet' href='/stylesheets/mainSite.css' />
        <link rel='stylesheet' href='/stylesheets/layoutspage.css' />

</head>

<%- include('./partials/mainMenu.ejs'); %>


    <body>
        <div id="backgroundIMGB3" class="adjustPaddingBanner">
            <div class="container">
                <h5 class="Green30" id="h3-Banner1">
                    <%= title %>
                </h5>
                <h1 class="White" id="h1-Banner1">Building pages</h1>
                <p class="White" id="text-Banner1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sit
                    beatae
                    magnam ut, culpa cupiditate non vitae voluptatum laudantium, obcaecati quo cum, perferendis aut odio
                    in
                    perspiciatis officiis! Minima, rerum.</p>
            </div>
        </div>

        <div class="WhiteBack" id="componentPageIndex">
            <div class="container spacer-2-low alignCenter">
                <h5 class="Green60" id="h3-Banner1">Exploring</h5>
                <h1 class="Green80" id="h1-Banner1">Available layouts</span></h1>
                <div class="spacer-3"></div>

                <h5 class="Green60 alignLeft divider-1" id="h3-Banner1">L2 layouts</h5>
                <div class="layoutGrid">
                    <div class="layoutCard Gray10">
                        <img src="/images/layouts/L2CardOverlayFeature.png" class="layoutIMG" alt="">
                        <div class="spacer-3"></div>
                        <h4 class="Green80">L2CardOverlayFeature.html</span></h4>
                    </div>

                    <div class="layoutCard Gray10">
                        <img src="/images/layouts/L2CenterFeature.png" class="layoutIMG" alt="">
                        <div class="spacer-3"></div>
                        <h4 class="Green80">L2CenterFeature.html</span></h4>
                    </div>

                    <div class="layoutCard Gray10">
                        <img src="/images/layouts/L2Features.png" class="layoutIMG" alt="">
                        <div class="spacer-3"></div>
                        <h4 class="Green80">L2Features.html</span></h4>
                    </div>
                    <div class="layoutCard Gray10">
                        <img src="/images/layouts/L2Tabs.png" class="layoutIMG" alt="">
                        <div class="spacer-3"></div>
                        <h4 class="Green80">L2Tabs.html</span></h4>
                    </div>
                </div>

                <h5 class="Green60 alignLeft divider-1" id="h3-Banner1" style="margin-top: 30px;">L3 layouts</h5>
                <div class="layoutGrid">
                    <div class="layoutCard Gray10">
                        <img src="/images/layouts/L3AdvancedResources.png" class="layoutIMG" alt="">
                        <div class="spacer-3"></div>
                        <h4 class="Green80">L3AdvancedResources.html</span></h4>
                    </div>

                    <div class="layoutCard Gray10">
                        <img src="/images/layouts/L3CategoriesWithFAQ.png" class="layoutIMG" alt="">
                        <div class="spacer-3"></div>
                        <h4 class="Green80">L3CategoriesWithFAQ.html</span></h4>
                    </div>

                    <div class="layoutCard Gray10">
                        <img src="/images/layouts/L3FAQ.png" class="layoutIMG" alt="">
                        <div class="spacer-3"></div>
                        <h4 class="Green80">L3FAQ.html</span></h4>
                    </div>
                    <div class="layoutCard Gray10">
                        <img src="/images/layouts/L3SimpleResources.png" class="layoutIMG" alt="">
                        <div class="spacer-3"></div>
                        <h4 class="Green80">L3SimpleResources.html</span></h4>
                    </div>
                </div>

                <h5 class="Green60 alignLeft divider-1" id="h3-Banner1" style="margin-top: 30px;">Tech layouts</h5>
                <div class="layoutGrid">
                    <div class="layoutCard Gray10">
                        <img src="/images/layouts/technicalContent.png" class="layoutIMG" alt="">
                        <div class="spacer-3"></div>
                        <h4 class="Green80">technicalContent.html</span></h4>
                    </div>

                    <div class="layoutCard Gray10">
                        <img src="/images/layouts/threeslot.png" class="layoutIMG" alt="">
                        <div class="spacer-3"></div>
                        <h4 class="Green80">threeslot.html</span></h4>
                    </div>
                </div>


            </div>
        </div>
    </body>

</html>