<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('./partials/scripts.ejs'); %>
        <link rel='stylesheet' href='/stylesheets/mainSite.css' />

</head>

<%- include('./partials/mainMenu.ejs'); %>


    <body>
        <div id="backgroundIMGB3" class="adjustPaddingBanner">
            <div class="container">
                <h5 class="Green30" id="h3-Banner1">
                    <%= title %>
                </h5>
                <h1 class="White" id="h1-Banner1">Name your component</h1>
                <p class="White" id="text-Banner1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sit
                    beatae
                    magnam ut, culpa cupiditate non vitae voluptatum laudantium, obcaecati quo cum, perferendis aut odio
                    in
                    perspiciatis officiis! Minima, rerum.</p>
                <div class="spacer-3"></div>
                <a href="#componentPageIndex" class="BTN-1">See Devo tags</a>
            </div>
        </div>

        <div class="gradient2" id="componentPageIndex">
            <div class="container spacer-2-low alignCenter">
                <h5 class="Green30" id="h3-Banner1">Naming convention</h5>
                <h1 class="White" id="h1-Banner1">How to name our <span class="gradient1">components?</span></h1>
                <div class="spacer-3"></div>

                <form action="">

                    <div class="row">

                        <div class="col">
                            <p class="White" id="labelForm">Identifier(page)</p>
                            <select class="form-select quokkaForm" aria-label="Default select example" name="Identifier"
                                id="Identifier">
                                <option selected>Select template</option>
                                <option value="DEVELOPERHOME">DEVELOPERHOME</option>
                                <option value="JAVA">JAVA</option>
                                <option value="JAVA">JAVASCRIPT</option>
                                <option value="JAVAINNOVATIONS">JAVAINNOVATIONS</option>
                                <option value="BUILDMICROSERVICE">BUILDMICROSERVICE</option>
                                <option value="DATABASES">DATABASES</option>
                                <option value="DEVELOPERLIVE">DEVELOPERLIVE</option>
                                <option value="DEVELOPERLIVESMAD">DEVELOPERLIVESMAD</option>
                                <option value="ORACLECLOUDINFRASTRUCTURE">ORACLECLOUDINFRASTRUCTURE</option>
                            </select>
                        </div>

                        <div class="col">
                            <p class="White" id="labelForm">Quokka Template</p>
                            <select class="form-select quokkaForm" aria-label="Default select example" name="Template"
                                id="Template">
                                <option selected>Select template</option>
                                <option value="HOME">HOME</option>
                                <option value="EVENTS">EVENTS</option>
                                <option value="LANGUAGES">LANGUAGES</option>
                                <option value="TECHNOLOGIES">TECHNOLOGIES</option>
                                <option value="TUTORIALS">TUTORIALS</option>
                                <option value="JAVA11">JAVA11</option>
                                <option value="PYTHON">PYTHON</option>
                                

                            </select>
                        </div>

                        <div class="col">
                            <p class="White" id="labelForm">Component's code</p>
                            <select class="form-select quokkaForm" aria-label="Default select example" name="Component"
                                id="Component">
                                <option selected>Select code</option>
                                <option value="HE01">HE01</option>
                                <option value="HE02">HE02</option>
                                <option value="HE03">HE03</option>
                                <option value="HE04">HE04</option>
                                <option value="HE05">HE05</option>
                                <option value="HE06">HE06</option>
                                <option value="HE07">HE07</option>
                                <option value="HE08">HE08</option>
                                <option value="HE09">HE09</option>
                                <option value="HE10">HE10</option>

                                <option value="FE01">FE01</option>
                                <option value="FE02">FE02</option>
                                <option value="FE03">FE03</option>
                                <option value="FE04">FE04</option>
                                <option value="FE05">FE05</option>
                                <option value="FE06">FE06</option>
                                <option value="FE07">FE07</option>

                                <option value="SH01">SH01</option>

                                <option value="CO01">CO01</option>
                                <option value="CO02">CO02</option>
                                <option value="CO03">CO03</option>
                                <option value="CO04">CO04</option>
                                <option value="CO05">CO05</option>

                                <option value="CA01">CA01</option>
                                <option value="CA02">CA02</option>
                                <option value="CA03">CA03</option>
                                <option value="CA04">CA04</option>
                                <option value="CA05">CA05</option>
                                <option value="CA06">CA06</option>
                                <option value="CA07">CA07</option>
                                <option value="CA08">CA08</option>
                                <option value="CA09">CA09</option>
                                <option value="CA10">CA10</option>
                                <option value="CA11">CA11</option>

                                <option value="TA01">TA01</option>
                                <option value="TA02">TA02</option>

                                <option value="BA01">BA01</option>
                                <option value="BA02">BA02</option>
                                <option value="BA03">BA03</option>
                                <option value="BA04">BA04</option>
                                <option value="BA05">BA05</option>

                                <option value="LI01">LI01</option>

                                <option value="TE01">TE01</option>
                                <option value="TE02">TE02</option>
                                <option value="TE03">TE03</option>
                                <option value="TE04">TE04</option>

                                <option value="MO01">MO01</option>

                                <option value="LO01">LO01</option>
                                <option value="LO02">LO02</option>
                                <option value="LO03">LO03</option>

                                <option value="AC01">AC01</option>
                                <option value="AC02">AC02</option>
                                <option value="AC03">AC02</option>

                                <option value="PA01">PA01</option>
                                <option value="PA02">PA02</option>
                                <option value="PA03">PA03</option>

                                <option value="GA01">GA01</option>
                                <option value="GA02">GA02</option>
                                <option value="GA03">GA03</option>
                                <option value="GA04">GA04</option>

                                <option value="VI01">VI01</option>
                                <option value="VI02">VI02</option>

                                <option value="CD01">CD01</option>

                                <option value="MD01">MD01</option>
                                <option value="MD02">MD02</option>

                                <option value="NA01">NA01</option>
                                <option value="NA02">NA02</option>
                                <option value="NA03">NA03</option>

                                <option value="IN01">IN01</option>
                                <option value="IN02">IN02</option>

                                <option value="AL01">AL01</option>
                                <option value="AL02">AL02</option>
                                <option value="AL03">AL03</option>

                            </select>
                        </div>

                        <div class="col">
                            <p class="White" id="labelForm">Number of component</p>
                            <input type="number" class="form-control quokkaForm" name="Position" id="Position"
                                value="1">
                        </div>

                        <div class="col">
                            <p class="White" id="labelForm">LINK?</p>
                            <select class="form-select quokkaForm" aria-label="Default select example" name="Link"
                                id="Link">
                                <option value="2" selected>NO</option>
                                <option value="1">YES</option>
                            </select>

                        </div>


                    </div>


                    <div class="spacer-3"></div>

                    <div class="row">

                        <div class="col">
                            <a href="#componentPageIndex" class="BTN-1" id="createName">Generate name</a>

                        </div>


                    </div>




                    <div class="spacer-5"></div>

                    <div class="doubleColumnFour" id="resultsComponentsNaming">
                        <div>
                            <h2 class="White" id="h1-Banner1"><span class="gradient1">Name</span></h2>
                            <p id="newComponentsName" class="White alternativeText">Here will go the name preview</p>
                        </div>

                        <div>
                            <h2 class="White" id="h1-Banner1"><span class="gradient1">Tags</span></h2>
                            <p id="newComponentsTags" class="White alternativeText">Here will go the tags preview</p>
                        </div>

                        <div>
                            <h2 class="White" id="h1-Banner1"><span class="gradient1">Description</span></h2>
                            <p id="newComponentsDescription" class="White alternativeText">Here will go the name preview
                            </p>
                        </div>

                        <div>
                            <h2 class="White" id="h1-Banner1"><span class="gradient1">Collection</span></h2>
                            <p id="newComponentsCollections" class="White alternativeText">Here will go the collection
                                preview</p>
                        </div>
                    </div>
            </div>
        </div>

        </form>
        </div>
        </div>
    </body>

</html>
