.sequoiaGrid-container-s1,
.headerContainer {
  padding: 0px 160px;
  margin: auto;
  max-width: 1600px;
}

.headerTest {
  background-color: #6f6f6f;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 0px;
}

.sequoiaGrid12,
.sequoiaGrid0,
.sequoiaGrid,
.sequoiaGrid-2,
.sequoiaGrid-3,
.sequoiaGrid-4 {
  gap: 0px 24px;
}

.sequoiaGrid12 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.sequoiaGrid0 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.sequoiaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.sequoiaGrid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.sequoiaGrid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.sequoiaGrid-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.space-25 {
  height: 25px;
}

.sequoiaGrid-content {
  background-color: #00747a;
  height: 100px;
}

.sequoiaGrid-content2 {
  background-color: #00357a;
  height: 100px;
}

.sequoiaGrid-content3 {
  background-color: #7a002d;
  height: 100px;
}

.sequoiaGrid-content4 {
  background-color: #707a00;
  height: 100px;
}

.sequoiaGrid-content0 {
  background-color: #78007a;
  height: 100px;
}

.sequoiaGrid-content12 {
  background-color: #000000;
  height: 50px;
}

.textGrid {
  color: aliceblue;
  text-align: center;
  font-weight: bold;
}

.sequoiaGrid-container-s1 {
  background-color: aliceblue;
}

.currentSize {
  background-color: red;
  color: aliceblue;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 10px;
}

@media (max-width: 3840px) {
  body {
    background-color: rgb(161, 127, 255);
  }
  .sequoiaGrid-container-s1,
  .headerContainer {
    padding: 0px 60px;
  }
}

@media (max-width: 1200px) {
  body {
    background-color: aquamarine;
  }
  .sequoiaGrid-container-s1,
  .headerContainer {
    padding: 0px 48px;
  }
}

@media (max-width: 767px) {
  body {
    background-color: rgb(127, 195, 255);
  }

  .sequoiaGrid-container-s1,
  .headerContainer {
    padding: 0px 24px;
  }

  .sequoiaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px 16px;
  }

  .sequoiaGrid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px 16px;
  }

  .sequoiaGrid-3 {
    gap: 16px 16px;
  }
  .sequoiaGrid12 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 16px;
  }
}

@media (max-width: 360px) {
  body {
    background-color: rgb(232, 127, 255);
  }
  .sequoiaGrid-container-s1,
  .headerContainer {
    padding: 0px 24px;
  }
  .sequoiaGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px 16px;
  }

  .sequoiaGrid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .sequoiaGrid-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
