.BTN-1{
    background-color: #34E7CE;
    color: #000;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: solid rgb(52, 231, 206) 1px;
    font-weight: 500;
    margin-right: 15px;
    font-size: 0.8rem;
    transition: all 300ms;
}

.BTN-1:hover{
    color: #000;
    background-color: #1EC8BA;
}

.BTN-2{
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: solid #34E7CE 1px;
    font-weight: 500;
    transition: all 300ms;
    margin-right: 15px;
}

.BTN-2:hover{
    color: #34E7CE;
}

.BTN-3{
    font-size: 0.8rem;
    color: #34E7CE;
    text-decoration: none;
    font-weight: 500;
    transition: all 500ms;
}

.BTN-3:hover{
    color: #00747a;
    text-decoration: none;
}

.btn-outline-success {
    border-radius: 0px;
    font-weight: 100;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: rgba(52, 231, 206,0.25);
    border: none;
    transition: all 300ms;
    /*margin-right: 15px;*/
    font-size: 0.8rem;
}

.btn-outline-success:hover {

    background-color: rgba(52, 231, 206,0.50);

}