#h3-Banner1{
    font-weight: 100;
}

#h1-Banner1{
    font-weight: 500;
    
}

#backgroundIMGB1{
    background-image: url('/images/Backgrounds/B1.jpg');
    background-size: cover;
    background-position: center right;
}

#text-Banner1{
    font-weight: 100;
    font-size: 0.8rem;
    padding-right: 50%;
}