h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 45px;
  margin-bottom: 24px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 24px;
}

img {
  margin-top: 24px;
  margin-bottom: 11px;
  width: 100% !important;
}

.xsml {
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0px;
  margin-top: -35px;
  margin-bottom: 48px;
}

.ocode:not(code):not(.ocode-simple) {
  margin-top: 24px;
  margin-bottom: 63px;
}

.ocode {
  position: relative;
  width: 100%;
  background-color: #2b3244;
}

.ocode pre {
  font-style: normal;
  padding: 0px 24px 24px 24px;
  overflow: auto;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.ocode-bttn {
  text-align: right;
  position: absolute;
}

.ocode-bttn a {
  font-style: normal;
  display: block;
  text-decoration: none;
  padding: 0.25em 0.666em;
  color: #00747a;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
