/*CONTENT */
.cc01w1 > h3, .cc01w1 > h4 {
  font-family: 'Oracle Sans Semi Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 32px;
  margin-top: 45px;
  margin-bottom: 24px;
  border-bottom: solid 1px #b0b9ce;
  padding-bottom: 0.5rem;

}

.cc01w1 > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 24px;
}

.cc01w1 p > a, .cc01w1 li > a {
  color: #00747a;
  text-decoration: none;
}

/*Image Sizing*/
p > img {
  margin-top: 24px;
  margin-bottom: 11px;
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
  max-width: 600px!important;
  border: solid 1px #919DB8;
}

strong{
  font-family: 'Oracle Sans Semi Bold';
}

/*Image Description*/
.cc01w1 > .xsml {
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0px;
  margin-top: -35px;
  margin-bottom: 48px;
}

/*Codes Section */
.ocode:not(code):not(.ocode-simple) {
  margin-top: 39px;
  margin-bottom: 24px;
}

.ocode {
  position: relative;
  width: 100%;
  background-color: #2b3244;
}

p > .ocode, td > .ocode, li > .ocode, strong > .ocode {
  position: relative;
  width: 100%;
  padding: 0.25em 0.5rem;
  background-color: rgba(33, 30, 28, 0.03);
}

.ocode pre {
  font-style: normal;
  padding: 0px 24px 24px 24px;
  overflow: auto;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.ocode-bttn {
  text-align: right;
  position: absolute;
}

.ocode-bttn a {
  font-style: normal;
  display: block;
  text-decoration: none;
  padding: 0.25em 0em;
  color: #00747a;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.ocode-bttn a:hover {
  text-decoration:underline;
}

.ocode-bttn {
  transform: translateY(calc(-100% - 0.2em));
  text-align: right;
  position: absolute;
  right: -1px;
}

/*End for Codes Section */


/*HERO MODIFICATIONS */
.hero.heightShort {
  height: 12.5rem !important;
}

.hero .content-container .content .title {
  margin-bottom: -0.5rem !important;
}

.hero .content-container .content {
  max-width: 60%!important;
}

#c27e1038-2284-486c-8d50-cbdded31c492customComponentDiv
  > section
  > div.content-container
  > div
  > div.body
  > p:nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
