.col-section-list {
    gap: 32px!important;
}

.card.query-text {
    max-width: 100%!important;
}

.card.scheme-gray-70 {
    border: 0.125rem solid #3e475e00!important;
}

.cta-btn.tertiary.text-color-primary {
    font-size: 16px;
}

.sectionHeader.darkBg {
    background-color: #060b1800!important;
}

.background-layout .background.angled {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%)!important;
    /* clip-path: polygon(0 22%,100% 0,100% 78%,0 100%); */
}

#f249b9e5-3e4e-4be4-8e0d-3b513b09e22c > div > div > div > div{
    margin-bottom: -300px;
    position: relative;
    z-index: 1;
}