.col-section-list {
    gap: 32px!important;
}

.card.query-text {
    max-width: 100%!important;
}

.card.scheme-gray-70 {
    border: 0.125rem solid #3e475e00;
}

.cta-btn.tertiary.text-color-primary {
    font-size: 16px;
}